.page__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  gap: 6px;
  &__item {
    width: 100%; 
    & .form-items {
      overflow: hidden;
      padding: 8px 12px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      gap: 10px;
      border: 1px solid $_border_color__disabled !important;
      border-radius: 4px;
      & input {
        flex-grow: 1;
      }
    }
  }
}