main {
  max-width: 1326px; //1296 + 15 + 15 - padding left right;
  width: 100%; // для IE и т.п.: 100% чтобы он растягивался по max-width
  padding: 0 15px; // "Чтобы текст не прилипал к экрану"
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: red;
  margin: 0 auto;  // отцентровать основной контейнер
}

.page__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &__item {
    padding: 10px;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    border-color: _border_color__enabled;
    border-radius: 4px;
  }
}