<form [formGroup]="form">
  <div class="form-items">
    <p-checkbox
      (onChange)="todoService.toggleItem(id)"
      [binary]="true"
      formControlName="isDone">
    </p-checkbox>
    <input
      pInputText 
      type="text"
      placeholder="Напишите, что нужно сделать"
      (input)="changeText()"
      formControlName="text"/>
    <p-button 
      icon="pi pi-arrow-up"
      styleClass="p-button-info" 
      (onClick)="todoService.moveUpItem(id)">
    </p-button>
    <p-button 
      icon="pi pi-arrow-down"
      styleClass="p-button-info"
      (onClick)="todoService.moveDownItem(id)">
    </p-button>
    <p-button 
      icon="pi pi-times"
      styleClass="p-button-danger"
      (onClick)="todoService.deleteItem(id)">
    </p-button>
    <p-button 
      icon="pi pi-plus"
      styleClass="p-button-success"
      (onClick)="todoService.addItem(id)">
    </p-button>
  </div>
</form>
